<!DOCTYPE html>
<html>
<head>
    <title>app</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="/static/scripts/mainscript.js"></script>
</head>
<body>

    <div id="top_section">
        <ul class="nav">
            <li class="top_a"><a class="app_name">app</a></li>
            <li class="top_a"><a class="menu" href="/navigate_my_images">my-photos</a></li>
            <li class="top_a"><a class="menu" href="/navigate_shared_images">shared-photos</a></li>
            <li class="top_a" style="float:right"><div id="dropdownUser">
                <a class="menu" id="viewdropdown" onclick="showUserContent()">account</a>
                <div id="dropdownUserContent" onclick="logoutFunction()">
                    log-out
                </div>
                <div id="dropdownUserContent2" onclick="renderSettings()">
                    options
                </div>
            </div>
        </li>
          </ul> 
    </div>

<div id="center_div">

    <form action="/upload_image" method="post" enctype=multipart/form-data>
        <input type="file" name="nazwa" accept=".jpg, .jpeg, .png"><br><br>
        <input type="checkbox" name="shared"> shared?<br><br>
        <input type="submit">
      </form>
      <br>{{error}}
{% if restoreCode %}
    <p>this will only pop up once! don't show it publicly.</p>
    your restoration code: <p hidden id="hiddenCode"> {{restoreCode}}</p>
    <br>
    <input type="checkbox" onclick="showThis()">show code
{% endif %}



</div>

    


</body>
</html>
