<!DOCTYPE html>
<html>
<head>
    <title>app</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="/static/scripts/mainscript.js"></script>
</head>
<body>

    <div id="top_section">
        <ul class="nav">
            <li class="top_a"><a class="app_name">app</a></li>
            <li class="top_a" style="float:right"><div id="dropdownUser">
                <a class="menu" id="viewdropdown" onclick="showUserContent()">username: {{name_pass}}</a>
                <div id="dropdownUserContent" onclick="logoutFunction()">
                    log-out
                </div>
            </div>
        </li>
          </ul> 
    </div>

    <div id="middle_section">

        </div>

        <div id="middle_center_section">
            

        </div>

        <div id="middle_right_section">
        </div>

    </div>

    <div id="bottom_section">
            
    </div>


</body>
</html>
