<!DOCTYPE html>
<html>
<head>
    <title>app</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="/static/scripts/login.js"></script>
</head>
<body>

<p class="p_center_L">app log-in</p>

<div class="form_center">
    <form class="login_form" action="/loginattempt" method="post">
        <table>
            <tr><td>name:</td><td><input name="name" type="text" id="name_input"></td></tr>
            <tr><td>pass:</td><td><input name="pass" type="password" id="pass_input"></td></tr> 
            <tr><td colspan="2"><input name="submit" type="submit" value="log-in" id="login_button" class="login_btn" onclick="checkIfInputSanitized()"></td></tr> 
        </table>
    </form>
    <br>{{wrongLoginData}}
</div>

<div class="register_center">
    no account? <a class="register" href="/register">register.</a>
</div>

<div class="logout_success">
    <p id="logout_success_info"></p>
</div>


</body>
</html>