<!DOCTYPE html>
<html>
<head>
    <title>app</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="/static/scripts/login.js"></script>
</head>
<body onload="readSharedFriends()">

<p class="p_center_L">settings</p>

<div class="form_center">

    <p id="chp">change password:</p>
   
    <form class="login_form" action="/changepassword" method="post">
        <table>
            <tr><td>old:</td><td><input name="name" type="password" id="name_input"></td></tr>
            <tr><td>new:</td><td><input name="pass" type="password" id="pass_input" onchange="checkData()"></td></tr> 
            <tr><td colspan="2"><input name="submit" type="submit" value="change" id="login_button" 
                 class="login_btn" onclick="checkIfInputSanitized()"></td></tr> 
        </table>
    </form>
    <br>

    <p id="chp">add new friend:</p>

    <form class="login_form" action="/newfriend" method="post">
        <table>
            <tr><td>friends' name:</td><td><input name="friend_name" type="text" id="friend_input"></td></tr>
            <tr><td colspan="2"><input name="submit" type="submit" value="add friend" id="login_button" 
                 class="login_btn"></td></tr> 
        </table>
    </form>
    <br>

    <p>Currently sharing photos with:</p>
    <div class="form_center2">
    <table id="friends_table"></table>
    <p id="error_message">{{error}}</p>
    </div>
</div>



<input type="button" value="return" onclick="returnToIndex()" id="login_button" class="login_btn"></button>

</body>
</html>