html{
    height: 100%;
    width:100%;
}

body{
    background-color: #222;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    width:100%;
    margin:0;
}

#top_section{
    width:100%;
    height:5%;
    margin-bottom:0;
}

ul.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* border-bottom:2px solid white; */
    text-align:center;
}
  
li.top_a{
    float: left;
}
  
li a.menu{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.app_name{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
}
  
li a.menu:hover{
    background-color: #111;
    cursor: pointer;
}

#dropdownUserContent{
display: none;
   position:absolute;
   background-color:#444;
   min-width: 7vw;
   min-height: 3%;
   overflow: auto;
   z-index: 1;
   padding-top:0.5%;
   color:white;
   text-decoration: none;
}

#dropdownUserContent a:visited{
    color:white;
    text-decoration: none;
}

#dropdownUserContent a:link{
    color:white;
    text-decoration: none;
}

#dropdownUserContent:hover{
    background-color:white;
    color:#222;
    cursor:pointer;
}

#center_div{
    width: 50%;
    height:50%;
    margin-left:auto;
    margin-right: auto;
    margin-top:15%;
    text-align: center;
}